[submodule "ArduinoJoystickWithFFBLibrary"]
	path = ArduinoJoystickWithFFBLibrary
	url = https://github.com/YukMingLaw/ArduinoJoystickWithFFBLibrary.git
[submodule "lib/Adafruit_ADS1X15"]
	path = lib/Adafruit_ADS1X15
	url = https://github.com/adafruit/Adafruit_ADS1X15.git
[submodule "lib/Adafruit_MCP23017"]
	path = lib/Adafruit_MCP23017
	url = https://github.com/adafruit/Adafruit-MCP23017-Arduino-Library.git
[submodule "lib/Adafruit_BusIO"]
	path = lib/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO.git
